body {
	display: flex;
	flex-direction: column;
	min-height: 150vh;

	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}
	.section {
		display: flex;
		flex: 1 1 0;
		padding: 8px 16%;
	}

	button {
		border-radius: 6px;
		max-width: fit-content;
		padding: 5px 25px;
	}

/* TOP SECTION STYLING */

.content-top {
	display: flex;
	flex-direction: column;
	flex: 1;
}
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.header-logo {
			font-size: 24px;
			color: #F9FAF8;
		}

		.header-links {
			font-size: 18px;
			color: #E5E7EB;

			list-style: none;
			display: flex;
			flex-direction: row;

			gap: 16px;
			margin: 0px;
			padding: 0px;
		}


	.parent-hero {
		display: flex;
		align-items: center;
		flex: 1;
	}
		.hero {
			display: flex;
			flex-direction: row;
			flex: 1;
			gap: 5em;
		}
			.information-hero {
				display: flex;
				flex-direction: column;
				flex: 1 1 0;
			}	

				.headertext#hero {
					font-size: 48px;
					color: #F9FAF8;
					font-weight: 900;
				}

				.subtext#hero {
					font-size: 18px;
					color: #E5E7EB;
				}

				#top-button {
					margin-top: 10px;
					background-color: #3882F6;
					color: white;
					border: none;
				}

			.image {
				background-color: #6d747d;
				color: #E5E7EB;

				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 0;
			}

/* SECOND SECTION STYLING */

.content-second {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
	.titletext {
		font-size: 36px;
		color: #1F2937;
		font-weight: 900;
		margin: 1em;
	}

	.information-boxes {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 5%;
	}
		.box {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 12%;
			gap: 5px;
		}
			.illustration {
				border-radius: 16px;
				border: 4px solid #3882F6;
				width: 100%;
				padding-top: 100%;
			}

			.subtext#illustration {
				font-size: 18px;
				color: #6d747d;
				text-align: center;
			}


/* THIRD SECTION STYLING */

.section.third {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-third {
	display: flex;
	flex-direction: column;
	width: 60%;
}
	.quote {
		font-size: 36px;
		color: #1F2937;
	}

	.source {
		display: flex;
		justify-content: flex-end;

		font-size: 24px;
		color: #1F2937;
		font-weight: 700;
	}
/* BOTTOM SECTION STYLING */

.section.bottom {
	display: flex;
	flex-direction: column;
	padding: 0;
}
	.content-fourth {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 3 1 0;
	}
		.content-box {
			border-radius: 8px;
			padding: 50px 150px;
		
			display: flex;
			flex-direction: row;
			align-items: center;
			background-color: #3882F6;
		}
			.information-cta {
				display: flex;
				flex-direction: column;
				padding-right: 150px;
			}
				.headertext#cta {
					font-size: 24px;
					color: #F9FAF8;
					font-weight: 700;
					flex: 1;
				}

				.subtext#cta {
					font-size: 18px;
					color: #E5E7EB;
				}

			#bottom-button {
				font-size: 16px;
				color: #E5E7EB;
				background-color: transparent;
				font-weight: 700;
				border: 2px solid #E5E7EB;
			}

	.footer {
		font-size: 18px;
		color: #F9FAF8;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #1F2937;
		flex: 1 1 0;
	}