body {
	display: flex;
	flex-direction: column;
	min-height: 150vh;

	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}
	.section {
		display: flex;
		flex: 1 1 0;
		padding: 8px 16%;
	}

	button {
		border-radius: 6px;
		max-width: fit-content;
		margin-top: 10px;
		padding: 5px 25px;
	}

/* TOP SECTION STYLING */

.content-top {
	display: flex;
	flex-direction: column;
	flex: 1;
}
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.header-logo {
			font-size: 24px;
			color: #F9FAF8;
		}

		.header-links {
			font-size: 18px;
			color: #E5E7EB;

			list-style: none;
			display: flex;
			flex-direction: row;

			gap: 16px;
			margin: 0px;
			padding: 0px;
		}


	.parent-hero {
		display: flex;
		align-items: center;
		flex: 1;
	}
		.hero {
			display: flex;
			flex-direction: row;
			flex: 1;
			gap: 5em;
		}
			.information {
				display: flex;
				flex-direction: column;
				flex: 1 1 0;
			}	

				.headertext {
					font-size: 48px;
					color: #F9FAF8;
					font-weight: 900;
				}

				.subtext {
					font-size: 18px;
					color: #E5E7EB;
				}

				#top-button {
					background-color: #3882F6;
					color: white;
					border: none;
				}

			.image {
				background-color: #6d747d;
				color: #E5E7EB;

				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 0;
			}

/* SECOND SECTION STYLING */



/* THIRD SECTION STYLING */



/* BOTTOM SECTION STYLING */
